@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    min-height: 42px;
    display: flex;
    justify-content: space-between;
}

.nav-list {
    padding-left: 0;
    margin: auto 16px;
}

.nav-item {
    color: #fff;
    list-style: none;
    margin: 0 8px;
    display: inline-block;
    font-size: large;
    font-weight: 600;
}

.nav-item:hover {
    color: aqua;
}


/* header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
} */


/* .nav ul li {
    list-style: none;
}

.nav ul li a {
    color: white;
    text-decoration: none;
    background-color: aqua;
    padding: 10px 20px;
    border-radius: 10vh;
} */


/* .navigation .nav-list {
    width: 500px;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-item {
    
    color: white;
    list-style: none;
    margin: 0 8px;
    display: inline-block;
    border: 2px solid white;
} */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background-color: rebeccapurple; */
    background: url('/assets/images/pngtree-blue-cyan-background-with-spherical-designs-image-for-free-download-picture-image_2076908.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.logo {
    font-size: 2em;
    color: white;
    user-select: none;
}


/* .navigation a {
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
} */


/* .navigation a:hover {
    color: aqua;
} */


/* .navigation .bthLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
} */


/* .navigation .bthLogin-popup:hover {
    background: white;
    color: black;
} */

.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.form-box h2 {
    font-size: 2em;
    color: #000066;
    text-align: center;
}

.form-box h4 {
    font-size: 15px;
    color: whitesmoke;
    text-align: center
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #000066;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #000066;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}


/* Khi input được focus thì label sẽ do something
khi input có thông tin thì label sẽ do something */

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #000066;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: aqua;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: end;
    position: relative;
    top: 20px;
}

.remember-forgot a {
    text-decoration: none;
}

.btn {
    width: 100%;
    height: 45px;
    background-color: #000066;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
}